.leftBar {
  flex: 3;
  position: sticky;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  top: 50px;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: rgb(238, 233, 233);
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}
.leftbarWrapper {
  padding: 20px;
}
.leftbarList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.leftbarListItem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.leftbarListIcon {
  margin-right: 10px;
}
.leftbarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  /* font-weight: bold;
  margin: 15px 10px;
  background-color: beige; */
}
.leftbarHr {
  margin: 20px 0;
}

.leftbarFriendList {
  padding: 0;
  list-style: none;
  margin: 0;
}
